section.home .sectionTitle {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.viewMore {
  text-decoration: none;
  color: #ffffff;
  font-size: .9rem;
  transition: .3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.viewMore:hover {
  color: var(--second);
}

@media (width < 610px) {
  .home.active {
    top: 210px;
  }
  .home .container-fluid:first-child {
    .swiper {
      display: none;
    }
  }
}

@media (408px < width < 610px) {
  .home.active {
    top: 150px;
  }
}